[submodule "dep/cglm"]
	path = dep/cglm
	url = https://github.com/recp/cglm.git
[submodule "dep/glfw"]
	path = dep/glfw
	url = https://github.com/glfw/glfw.git
[submodule "dep/glew"]
	path = dep/glew
	url = https://github.com/nigels-com/glew.git
